////  google material
/* basic stylings ------------------------------------------ */
body{
    background:#424242;
}
.formcontainer 		{ 
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  width:330px; 
  margin:100px auto 0; 
  display:block; 
  background:#FFF;
  padding:16px 16px 16px;
    
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.headerlogo{
    background: url('../images/LOGO-Clickalot-horizon-compressor.png') no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    height:240px;
    width:600px;
    margin: auto;
}
.searchform{
    
}
.userinfoform{
    width: 400px;
}
.userinfoform li{
    margin: 10px;
}

.tabletitle{
    float: left;
    width: 40%;
}
.tablevalues {
    //padding-left: 40%;
    //margin: 10px;
    float: right;
    width: 60%;
    color: #53B2C8;
}
.Userlist{
    width: 500px;
}
.Userlist ul{
    margin-bottom: 16px;
}
.Userlist li{
    display: inline-block;
}
//.usertable li{
//    float: left;
//    margin-left: 6px;
//    margin-right: 6px;
//}
.NoData{
    width: 10%;
}
.usernameData{
    width: 25%;
}
.FnameData{
    width: 30%;
}
.LnameData{
    width: 25%;
}
.clickPriv{
    width: 5%;
    cursor: pointer;
}
.Privmanage ul{
    margin-bottom: 16px;
}
.Privmanage li{
    display: inline-block;
}
.Privmanage input{
    width:auto;
}
h2{ 
  //text-align:center; 
  margin-bottom:30px; 
  font-size: 24px;
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block;
    font-size: 16px;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.label-blue {
      color: #424242; 
    }
/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#424242;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#424242; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#424242; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#424242; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#424242; }
  to 	{ width:0; background:transparent; }
}

.action_btns{
    text-align: right;
}
// ripple button
button{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #fff;
  color: #03a9f4;
  padding: 10px 10px;
  border-radius: 2px;
  font-size: 20px;
  //margin-left: 71%;
    text-align: right;
}

//.fab{
//  border-radius: 50%;
//  margin:0;
//  padding: 20px;
//}
//
//.material{
//  position:relative;
//  color:white;
//  margin: 20px auto;
//  height:400px;
//  width:500px;
//  background:#f45673;
//  
//}
//
//.ripple{
//  overflow:hidden;
//}
//
//.ripple-effect{
//  position: absolute;
//  border-radius: 50%;
//  width: 50px;
//  height: 50px;
//  background: white;
//
//    
//  animation: ripple-animation 2s;
//}
//
//
//@keyframes ripple-animation {
//    from {
//      transform: scale(1);
//      opacity: 0.4;
//    }
//    to {
//      transform: scale(100);
//      opacity: 0;
//    }
//}

/*fade content*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}